@model List<Doctor>

@{
	List<string> especialidades = ViewData["ESPECIALIDAD"] as List<string>;
}

<h1>Buscador de doctores por especialidad</h1>

<form method="post">
	<label>Especialidad:</label>
	<select name="especialidad" class="form-control">
		@foreach (string esp in especialidades){
			<option value="@esp">@esp</option>
		}
	</select>
	<button class="btn btn-info">Buscar doctores</button>
</form>

@if (Model != null) {
	<table style="margin-top: 2rem" class="table table-striped">
		<thead>
			<tr>
				<th>Apellido</th>
				<th>Oficio</th>
				<th>Salario</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Doctor doctor in Model)
			{
				<tr>
					<td>@doctor.IdHospital</td>
					<td>@doctor.IdDoctor</td>
					<td>@doctor.Apellido</td>
					<td>@doctor.Especialidad</td>
					<td>@doctor.Salario</td>
				</tr>
			}
		</tbody>
	</table>
}