<h1>Detalle del doctor @Model.Apellido</h1>
<a asp-controller="Doctores" asp-action="Index">Back to List</a>
<ul class="list-group">
	<li class="list-group-item">@Model.IdHospital</li>
	<li class="list-group-item">@Model.IdDoctor</li>
	<li class="list-group-item">@Model.Apellido</li>
	<li class="list-group-item">@Model.Especialidad</li>
	<li class="list-group-item">@Model.Salario</li>
</ul>